* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #D4D4D4;
}

button {
    background-color: #B7B7A4;
    border-radius: 8px;
    padding: 6px 24px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

.button {
    color: #000;
}

.part1 {
    background-color: #283618;
    padding: 64px 160px;
    padding-top: 16px;
    margin: 0;
}

.part2 {
    background-color: #F0EFEB;
}

.quote {
    background-color: #B7B7A4;
    text-align: center;
    padding: 64px;
}

footer {
    background-color: #283618;
    height: 64px;
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F0EFEB;
}

.links {
    display: flex;
    gap: 16px;
}

.main {
    display: flex;
}

.maintext {
    width: 600px;
}

.title {
    color: #F0EFEB;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 8px;
}

.subtext {
    font-size: 18px;
    color: #D4D4D4;
    margin-top: 0;
    margin-left: 4px;
}

.signup {
    display: flex;
}

.mainimg {
    width: 600px;
    height: 300px;
    display: flex;
    align-self: flex-end;
}

.infotitle {
    font-size: 36px;
    font-weight: bolder;
    color: #151d0d;
    text-align: center;
}

.infobox {
    display: flex;
    flex-direction: row;
    padding: 90px;
    padding-top: 40px;
    padding-bottom: 128px;
    text-align: center;
    justify-content: center;
}

.box {
    max-width: 200px;
    margin: 32px;
}

.description {
    font-size: 18px;
    color: #1b2511;
}

.image {
    border: 4px solid #2B9348;
    border-radius: 4px;
}

.quotetext {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quotewriter {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
}

.product {
    background-color: #F0EFEB;
    padding: 128px;
}

.productbox {
    background-color: #2B9348;
    border-radius: 8px;
    padding: 32px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.producttext {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.buybutton {
    margin: 60px;
}

